<template name="header">
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Tour de History Web Management</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/users">Manage User</a></li>
                        <li><a href="#" id="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>